<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- 
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link href="app.component.css" rel="stylesheet"/>


</head>
<body ng-app="myapp">
    
<div ng-controller="myctrl">
    <form >
    <div class="container">
        <div class="card">
            <h2>Login</h2>
            <input type ="text" placeholder="Login id" id="name"><br>
            <input type ="password" placeholder="password" id="name"><br>
            <button mat-raised-button color="accent" ng-click="clicked()">Login</button><br>
             <input type ="submit" value="submit" id="button" (click)="goto('home1')"><br> 
           
            <a href="/" id="pass">Forgot password</a>
        </div>
    </div>
    </form>
    </div>
</body>
</html>  -->