<!-- <h1> Search Details </h1> -->
<body>
    <div class="left">
       <!-- <label>Source:</label> -->
       
        <input type="text" id="name" placeholder="Source" required><br>
       <input type="text" id="name" placeholder="Destination" required><br>
       <a routerLink="/searchresult" mat-raised-button color="primary" id="button">Submit</a>
       <!-- <button (click)="goto()">Submit</button> -->
       <!-- <button [routerLink]="['Submit']">Submit</button> -->
       <!-- <a mat-raised-button color="primary" routerLink="create" id="button">Submit</a> -->
    </div>
    </body>
