<html>
 <body>
     <div class="hero">
         <div class="form-box">
             <div class="button-box">
                 <div id="btn"></div>
                
                 <button type="button" class="toggle-btn">LogIn</button> 
                <!-- <button type="button" class="toggle-btn" ng-click="signup()">SignUp</button> -->
             </div>
             <form id="login" class="input-group">
                 <input type="text" class="input-field" placeholder="Email-Id" required>
                 <input type="text" class="input-field" placeholder="Password" required>
                 <button ng-click="login()">Login</button>
                <!-- <a routerLink="/create" mat-button type="submit" class="submit-btn" >LogIn</a>  -->

                <!-- <a href="/create"><button type="submit" class="submit-btn" >LogIn</button></a>  -->

                 <!-- <button type="submit" class="submit-btn">SignUp</button>  -->
                 <a routerLink="" id="password">Forgot Password</a>
             </form>
             <script src="./login.js"></script>
             <!-- <form id="signup" class="input-group">
                <input type="text" class="input-field" placeholder="Name" required>
                <input type="text" class="input-field" placeholder="Email-Id" required>
                <input type="text" class="input-field" placeholder="Password" required>
                <input type="text" class="input-field" placeholder="Phone Number" required> 
                <button type="submit" class="submit-btn">SignUp</button>
            </form> -->
         </div>
     </div>

 </body>
 </html>
