<html>
    <body>
        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                   
                    <button type="button" class="toggle-btn">SignUp</button> 
                   <!-- <button type="button" class="toggle-btn" ng-click="signup()">SignUp</button> -->
                </div>
                <form id="login" class="input-group">
                    <input type="text" class="input-field" placeholder="Name" required>
                    <input type="text" class="input-field" placeholder="Email-Id" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="text" class="input-field" placeholder="Phone Number" required> 
                    <button type="submit" class="submit-btn">SignUp</button>
                </form>
                <!-- <form id="signup" class="input-group">
                   <input type="text" class="input-field" placeholder="Name" required>
                   <input type="text" class="input-field" placeholder="Email-Id" required>
                   <input type="text" class="input-field" placeholder="Password" required>
                   <input type="text" class="input-field" placeholder="Phone Number" required> 
                   <button type="submit" class="submit-btn">SignUp</button>
               </form> -->
            </div>
        </div>
        
    </body>
    </html>
