<mat-toolbar color="primary">
    <span>V-Ride</span>
<div class="nav"></div>
    <a mat-button routerLink="home1">Home </a>
    <a mat-button routerLink="search">Search Ride <mat-icon>search</mat-icon></a>
    <a mat-button routerLink="create">Create Ride <span class="material-icons">
        add_circle
        </span> </a>
    <a mat-button routerLink="">My Account <span class="material-icons">
        account_circle
        </span></a>
    <a mat-button  routerLink="login">Login     </a><br>
    <a mat-button  routerLink="signup">Signup</a><br>
     
   
</mat-toolbar>
